@tailwind base;

@tailwind components;

@tailwind utilities;

.btn{
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-400;
}

#hero-slider{
  min-height: 72vh;
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: multiply;
}